/* Navbar container */
.nav-container {
  background-color: white;
  border-radius: 12px;
  margin: 15px;
  padding: 18px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  font-size: 26px;
  font-weight: bold;
  color: #111827;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #4b5563;
  font-size: 18px;
  transition: color 0.3s ease;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul li a:hover {
  color: #0445d2;
}
